:root{
    --white: #fff;
    --navy: rgb(0, 0, 243);
    --off-white: rgb(255, 239, 220);
    --black: black;
    --gray: rgba(128, 128, 128, 0.26);
    --light-blue: rgb(33, 199, 255);
    --aqua: rgb(173, 193, 231);
    --header-fonts: Verdana, Georgia, sans-serif;
    --bodyfonts: Georgia, Helvetica, serif;   
}

nav{
    height: 75px;
    margin-bottom:.1%;
}

nav ul li a{
    color: var(--white);
    text-decoration: none;
      
}

.coverimage{
    height:550px;
    width: 90%;
    position: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

main{
    width: 90%;
    margin:auto;
}

section{
    font-family: var(--bodyfonts);
    padding: .1% 0% .5% 0%;
    margin:auto;
    display: flex;
    border-width: 1px;
    border-style:dashed;
    background-color: var(--white);
    justify-content: space-between;
}

section h3{
    font-family: var(--header-fonts);
    font-size: 200%;
    display: inline-block;
    overflow:visible;
    white-space: nowrap;
    padding-left: 2%;
    
}
#aboutme{
    display:flex;
    justify-content: space-evenly;
}
.headshot{
    width: 200px;
    margin-top: .5%;
    border-radius: 30px;
    transition: all 0.5s ease-in-out;
    
}
.headshot:hover{
    box-shadow: inset 0px 0px 8px var(--navy), 0 0 15px var(--navy);
}

.bio{
    border-width: 1px;
    border-style: solid;
    border-radius: 30px;
    box-shadow: 10px 10px 5px var(--gray);
    background-color: var(--off-white);
    padding: 1%;
    flex: 0 1 1000px;
}
.hero-card{
    width: 75%;
    height: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.card-container{
    display: flex;
    flex-wrap:wrap;
}
.card{
    width: 20rem;
    height: 10rem;
    margin:auto;
}

.card-img-top{
    width: 20em;
    height: 10rem;
}
.card-title{
    background-color: var(--off-white);
    display: inline-block;
    color: var(--navy);
    text-decoration: none;
}

footer{
    text-align: center;
    font-size: 90%;
    font-weight: 700;
}